server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: spring-boot-logs
    static_configs:
      - targets:
          - localhost
        labels:
          job: fintrack-services
          __path__: /var/log/spring-boot/*.log
    pipeline_stages:
      - regex:
          expression: '^(?P<timestamp>\S+)\s+(?P<level>\S+)\s+(?P<thread>\S+)\s+---\s+\[(?P<service>\S+)\]\s+\[(?P<traceId>\S+)\]\s+(?P<logger>\S+)\s+:\s+(?P<message>.*)$'
      - labels:
          level:
          service:
          traceId: