server:
  port: ${SERVER_PORT:8081}

spring:
  application:
    name: users-service
  datasource:
    url: jdbc:postgresql://${POSTGRES_host:postgres}:${POSTGRES_PORT:5432}/${POSTGRES_DB:fintrack}?currentSchema=users
    username: ${POSTGRES_USER:postgres}
    password: ${POSTGRES_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
        default_schema: users
  flyway:
    enabled: true
    baseline-on-migrate: true
    schemas: users
  # CORS Configuration
  web:
    resources:
      add-mappings: false  # Disable static resource handling

jwt:
  secret: ${JWT_SECRET:MySecretKeyForJWTTokenGenerationMustBe256BitsLongAtLeast}
  expiration: 86400000

# CORS Configuration
app:
  cors:
    allowed-origins: ${ALLOWED_ORIGINS:https://fintrack-liart.vercel.app,https://*.vercel.app,http://localhost:3000,http://localhost:5173}

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  prometheus:
    metrics:
      export:
        enabled: true
  metrics:
    tags:
      application: ${spring.application.name}
  endpoint:
    health:
      show-details: always
    prometheus:
      enabled: true