server:
  port: 8081

spring:
  application:
    name: users-service
  datasource:
    url: jdbc:postgresql://localhost:5432/fintrack
    username: fintrack_user
    password: fintrack_pass
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    enabled: true
    baseline-on-migrate: true
    schemas: users

jwt:
  secret: MySecretKeyForJWTTokenGenerationMustBe256BitsLongAtLeast
  expiration: 86400000

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  metrics:
    export:
      prometheus:
        enabled: true
    tags:
      application: ${spring.application.name}
  endpoint:
    health:
      show-details: always
    prometheus:
      enabled: true