server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: users-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/auth/**, /api/users/**
          filters:
            - StripPrefix=1

        - id: transactions-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/tx/**
          filters:
            - StripPrefix=1

        - id: alerts-service
          uri: http://localhost:8083
          predicates:
            - Path=/api/alerts/**
          filters:
            - StripPrefix=1

        - id: reports-service
          uri: http://localhost:8084
          predicates:
            - Path=/api/reports/**
          filters:
            - StripPrefix=1

      # CORS for your Next.js app
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "http://localhost:3000"
            allowedMethods: [GET, POST, PUT, DELETE, PATCH]
            allowedHeaders: "*"
            allowCredentials: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  metrics:
    export:
      prometheus:
        enabled: true
    tags:
      application: ${spring.application.name}
  endpoint:
    health:
      show-details: always
    prometheus:
      enabled: true
